*:not(code) {
	font-family: ubuntu;
}

body {
	margin:0;
	background-color:white;
	color:rgb(48,66,76);
}

#SiteName {
	position:relative;
	text-align:left;
	margin: 0 auto;
	top:10px;
	line-height:1;
	width:600px;
	max-width:93%;
	height:auto;
	z-index:2;
	font-size:29px;
}
.left {
	height:46px;
}
h1 {
	font-weight:normal;
	font-size:22px;
	margin-bottom: 0px;
}
h2 {
	font-weight:normal;
}
h3 {
	margin-top: 10mm;
	font-weight:normal;
}
h4 {
	font-weight:normal;
	margin-top:10px;
	margin-bottom:2px;
	font-style:italic;
}
.date {
	color:rgb(160,160,160);
	line-height: 100%;
	margin-bottom: 10px;
}
#MainContent {
	position:relative;
	top:15px;
	max-width:93%;
	width:600px;
	margin:0px auto;
	z-index:6;
	font-size:15px;
	line-height:150%;
	color:#30424c;
  margin-bottom:1cm;
}

@media screen and (max-height: 760px) {
	#MainContent.notop {
		top:0px;
	}
	#MainContent.notop2 {
		top:30px;
	}
}

img{
	height:auto;
	max-width:100%;
	border-radius:11px;
}
video {
	height:auto;
	max-width:100%;
	border-radius:11px;
}
figure{
	max-width:100%;
	margin:30px 0;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	width:500px;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:11px;
}
#FrontPageMain {
	position:relative;
	width:600px;
	margin:0px auto;
	max-width:93%;
}
#FrontPageMain h1 {
	text-align:center;
	font-size:29px;
}
#FrontPageMain h2 {
	text-align:center;
	font-size:20px;
	margin:10px auto;
	color:#777d8f;
}
#FrontPageMain h3 {
	text-align:center;
	font-weight:normal;
	font-size:15px;
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
}

.front-image {
	display:flex;
	align-items: center;
	margin-top:30%;
	width:340px;
	height:auto;
	max-width:57%;
	border-radius:11px;
	margin-left:auto;
	margin-right:auto;
}

.about-image {
	display:flex;
	align-items: center;
	width:500px;
	max-width:90%;
	height:auto;
	border-radius:25px;
	margin-left:auto;
	margin-right:auto;
}



table {
	border-spacing:0px 50px;
}

td a{
  text-decoration:none;
}

@media screen and (max-width: 430px) {
	td {
		display:block;
	}
}

@media screen and (min-width: 431px) {
	.center-if-wide {
		text-align:center;
	}
	.right-if-wide {
		text-align:right;
	}
}

@media screen and (max-height: 760px) {
	.front-image {
		margin-top:10%;
	}
}

nav {
	display:block;
	text-align:center;
	background-color: white;
	padding: 0;
  margin-bottom:80px;
}

nav ul {
	list-style:none;
	padding:0;
}

nav ul li {
	display:inline-block;
}

/* Style the links inside the navigation bar */
nav ul li a {
	display: flex;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
	color:rgb(48,66,76);
}


/* Change the color and weight of links on hover */
nav ul li:hover a {
	color:rgb(119, 125, 143);
}

/* Add an active class to highlight the current page */
.active {
	color:rgb(244, 151, 108);
}

.links-container {
	margin:0px 32px 0px 32px;
	display:flex;
	font-size:35px;
	justify-content:space-between;
}

.masthead {
  padding: 30px 0px;
  position:relative;
  margin: 0 auto;
  width: 600px;
  height:auto;
  max-width:93%;
  text-align:center;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  color: #111; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
#MainContent ul li a {
  text-decoration:none;
}
#MainContent p a {
  text-decoration:none;
}
#MainContent a {
  text-decoration:none;
}
figcaption {
  width:500px;
  max-width:100%;
}

/* Dropdown Button */
.dropbtn {
  margin-left: 20px;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
	font-size: 17px;
  color: #111; /* IE8 proofing */
  border-bottom: 2px solid transparent;
	color:rgb(48,66,76);
	padding: 14px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background: white;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  /*color: black;*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
